<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colortv.sample">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/demo_app_banner"
        android:icon="@drawable/demo_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.colortv.sample.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.colortv.sample.VideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.colortv.sample.ExoPlayerVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.colortv.sample.CustomRecommendationCenterActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>
